# Project place file
/LUAU-Boilerplate.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
*.rbxl
*.rbxlx

# Dependencies (Node.js / pnpm)
node_modules/
.pnpm-store/
Packages/
ServerPackages/
_Index/
wally.lock

# Cache Tools
.aftman/
.foreman/
.rokit/

# File Log & OS
*.log
.DS_Store
Thumbs.db
.vscode/

sourcemap.json
